__pycache__/
*.pyc
.idea
.vscode
.htaccess
tmp/
passenger_wsgi.py
env/
ta-lib/
db.sqlite3
*.csv
*.zip
!currency_code_to_etf.csv
logger/
.log
Pipfile
saved_models/
*.joblib
deriv_finalized_model.txt
slope_finalized_model.txt
vols_finalized_model.joblib