-r basic_requirements.txt
absl-py==0.11.0
aiohttp==3.6.2
alembic==1.4.2
amqp==5.0.2
ansimarkup==1.4.0
asgiref==3.3.4
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.4
backcall==0.2.0
billiard==3.6.3.0
beautifulsoup4==4.9.3
boto3==1.14.23
botocore==1.17.63
channels==3.0.3
channels-redis==3.3.0
celery==5.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cloudpickle==1.4.1
cycler==0.10.0
DatastreamDSWS==1.0.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
dill==0.3.3
Django==3.1.4
django-celery-results==2.0.0
django-celery-beat==2.2.0
django-environ==0.4.5
django-import-export==2.5.0
django-postgres-extra==2.0.2
django-cors-headers==3.7.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.7.0
dnspython==1.16.0
docutils==0.15.2
drf-spectacular==0.16.0
enforce==0.3.4
environs==9.2.0
et-xmlfile==1.0.1
future==0.18.2
gast==0.3.3
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==20.1.0
h5py==2.10.0
hyperopt==0.2.4
idna-ssl==1.1.0
importlib-metadata==1.6.1
ipython==7.16.1
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.17.1
jmespath==0.10.0
joblib==1.0.1
kiwisolver==1.2.0
kombu==5.0.2
lightgbm==2.3.1
llvmlite==0.33.0
Mako==1.1.2
MarkupPy==1.14
MarkupSafe==1.1.1
marshmallow==3.9.1
matplotlib==3.2.1
multidict==4.7.5
multiprocess==0.70.11.1
networkx==2.4
numba==0.50.1
odfpy==1.4.1
openpyxl==3.0.6
opt-einsum==3.3.0
pandas==1.2.3
pangres==2.1
parso==0.7.0
pathos==0.2.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pip-autoremove==0.9.1
pox==0.2.9
ppft==1.6.6.3
progressbar==2.5
prompt-toolkit==3.0.5
protobuf==3.15.4
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pycodestyle==2.6.0
PyDatastream==0.6.2
Pygments==2.6.1
PyJWT==2.0.0
pymongo==3.11.3
python-dateutil==2.8.0
python-dotenv==0.13.0
python-editor==1.0.4
python-environ==0.4.54
pytz==2020.1
redis==3.5.3
retrying==1.3.3
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
shap==0.35.0
slackclient==2.5.0
SQLAlchemy==1.3.16
sqlparse==0.4.1
structlog==20.1.0
tablib==3.0.0
tabulate==0.8.7
termcolor==1.1.0
terminaltables==3.1.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.46.0
traitlets==4.3.3
typing-extensions==3.7.4.3
uvicorn==0.14.0
vine==5.0.0
wcwidth==0.2.5
websocket-client==1.1.0
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
yarl==1.4.2
yellowbrick==1.1
zipp==3.1.0
zope.interface==5.1.0
TA-Lib==0.4.19